  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row" id="articles">

          {{#if article}}
          {{#each article}}
          
          <div class="col s12 m10 offset-m1" data-id={{this._id}}>
            <div class="row">
              <div class="col m4">
                <img src="{{this.images}}" class="responsive-img">
              </div>
              <div class="col m8">
          <h4 data-id={{this._id}}>
            <a href="https://cbr.com{{this.link}}" target="blank">
              {{this.title}}
            </a>
            <a data-id={{this._id}} class="save btn-floating btn-small waves-effect waves-light teal"><i class="material-icons">add</i></a>
          </h4>
          <p data-id={{this._id}}>
            {{this.body}}
          </p>
          </div>
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>
    </div>
    <br><br>
  </div>
