<div id="modal{{this.id}}" class="modal">
    <div class="modal-content">
      <h4>Note for {{this.title}}</h4>
        {{#if this.notes}}
            {{#each this.notes}}
                <p>
                    {{this.body}}
                    <span>
                        <a data-note-id={{this._id}} data-article-id={{this.article}} class="deleteNote btn-floating btn-small waves-effect waves-light grey">
                            <i class="material-icons">clear</i>
                        </a>
                    </span>
                </p>
                
            {{/each}}
            {{else}}
                <p>No notes for this article yet</p>
        {{/if}}

      <h5>Add a Note</h5>

      <div class="row">
        <form class="col s12">     
          <div class="row">
            <div class="input-field col s12">
              <textarea id="image_description" type="text" class="noteText{{this._id}} materialize-textarea validate"></textarea>
              <label for="image_description">Description</label>
            </div>
          </div>             
        </form>
      </div>
    </div>
        <div class="modal-footer">
<a data-id={{this._id}} class="saveNote modal-action modal-close waves-effect waves-green btn-flat">Submit</a>    </div>
  </div>